doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/components/flat-ui/css/bootstrap.css')
    link(rel='stylesheet', href='/components/flat-ui/css/flat-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    for message in messages()
        div(class="alert alert-#{message.type}") #{message.text}

    block content
