body {
    background-color: #227FBB;
}

.login-screen {
    background-color: #227FBB;
}

.login-form {
    width: 359px;
    margin-left: 50px;
}

.alert {
    border-radius: 0;
    border: 0;
    padding: 12px;
    text-shadow: none;
}

.alert-error {
    background-color: #E94B35;
    color: #fff;
}

.alert-info {
    background-color: #00BD9C;
    color: #fff;
}

.alert-warning {
    background-color: #F2C500;
    color: #fff;
}